*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#sfondo_logo{
    height: 100px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: rgb(60, 188, 231);
    background-size: contain;
    background-position: top;
}

.layover{
    background-color: rgba(75,75,75, 0.3);
    height: 100%;
    width: 100%;
}

#logo{
    height: 45px;
   margin-top: 45px;
   margin-left: 5px;

}

/* corpo dell'articolo */
.container{
    margin-left: 10px;
}

.titolo_articolo{
    font-size: 45px;

}

.autore_articolo{
    color: grey;
}

.nome_autore{
    color: lightskyblue;
}


.img_sezione1{
    margin-top: 20px;
}

.descrizione_img{
    display: block;
    font-size: 11px;
}