*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

#sfondo_logo{
    height: 100px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: rgb(60, 188, 231);
    background-size: contain;
    background-position: top;
}

.layover{
    background-color: rgba(75,75,75, 0.3);
    height: 100%;
    width: 100%;
}

#logo{
    height: 45px;
    margin-top: 45px;
}

/* corpo dell'articolo */
.container{
    margin-left: 10px;
    width: 1200px;
    margin: auto;
}

.titolo_articolo{
    font-size: 45px;
}

.autore_articolo{
    color: grey;
}

.nome_autore{
    color: lightskyblue;
}

.img_sezione1{
    margin-top: 20px;
}

.descrizione_img{
    display: block;
    font-size: 11px;
}

.section{
    margin-top: 20px;
}

ul{
    padding-left: 10px;
}

/* sezione 4  */

/* thead */
table{
    font-size: 18px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.thead{
    color: white;
    font-size: 20px;
    background-color: rgb(31, 136, 235);
}

.th_1{
    width: 23%;
}

.th_2{
    width:45% ;
}

/* tbody */

.tbody_azzurro{
    background-color: turquoise;
}

.td_1{
    text-align: center;
}

/* footer */

#titolo_footer{
    color: grey;
    font-size: 25px;
    margin-top: 25px;
}

.img_monitor{
    margin-top: 20px;
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
}

.img_graph{
    margin-top: 20px;
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
}

.img_monitor h3,
.img_graph h3{
    font-size: 20px;
    color: honeydew;
    padding-top: 7px;
    padding-left: 3px;
}




